.container{
    width: 1000px;
    height: 700px;
    margin: auto;
    background-color: #5DA3FA;
    margin-top: 3%;
}
.section-header{
    width: 90%;
    margin: auto;
    height: 10%;
    margin-top: 3%;
}
.heading{
    text-align: center;
    font-size: 3em;
    color: #6A1B4D;
}
.section-question{
    height: 20%;
    width: 90%;
    margin: auto;
    margin-top: 3%;
    background-color: #6A1B4D;
}
.section-body{
    height: 45%;
    width: 90%;
   margin: auto;
   margin-top: 5%;
}
.subsection{
    height: 25%;
    width: 30%;
    float: left;
    margin-right: 3%;
    margin-bottom: 3%;
    
}
.subsection img{
    height: 80px;
    width: 100px;

}
.subsection-heading{
    text-align:center;
    
    color: #B4161B;
    font-size: 1.5em;
}
.question{
    text-align: center;
    font-size: 3em;
    padding-top: 4%;
    color: white;
}
.section-result{
    width: 70%;
    height: 7%;
    background-color: #22CB5C;
    margin: auto;
    margin-top: 1%;
    float: left;
   
}
.result{
    font-size: 1.5em;
    text-align: center;
    padding-top: 1%;
}
.section-next{
    float: left;
    width: 20%;
    height: 7%;
    margin-left: 2%;
    margin-top: 1%;
}
.btn-next{
    
    width: 100%;
    background-color: #E5D68A;
    margin-top: 1%;
    padding-top: 3%;
    padding-bottom: 2%;
    font-size: 1.5em;
}